// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_up_form{
    background-color:#FAFAFA;
    width:90%;
    height:500px;
    margin-top:50px;
}
.home_image{
    height:300px;
    width:200px;
}
.home_image_div{
    margin-top:200px;
}
.sign_up_form{
    margin-top:100px;
    background-color:#FAFAFA;
    height:500px;
    width:350px;
    padding:30px;
}
input{
    margin-bottom:10px;
}
.login_page{
    margin-bottom:10px;
    text-align:center;
    background-color:#FAFAFA;
    height:40px;
    width:350px;
    padding:10px;
}